<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delte course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Are your sure you want to delete the following course?</h1>
        <div style="display: inline-block;">
            <p>Name:</p>
            <p>Description:</p>
        </div>
        <div style="display: inline-block">
            <p>{{ course.name }}</p>
            <p>{{ course.description.description }}</p>
        </div>
        <br>
        <a href="/"><button class="btn btn-secondary">No</button></a>
        <a href="/delete/{{ course.id }}"><button class="btn btn-danger">Yes! I want to delete this</button></a>
    </div>
</body>
</html>